.product-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 16px;
    margin: 16px;
    max-width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    background-color: #fff;

}

.hi {
    display: flex;
}

.product-card:hover {
    transform: scale(1.02);
}

.product-image-container {
    text-align: center;
    margin-bottom: 12px;
}

.product-image-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0 5px;
}

.product-price {
    color: #27ae60;
    font-weight: 600;
    margin: 5px 0;
}

.product-description {
    font-size: 0.95rem;
    color: #555;
}